body{
   
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("https://motionarray.imgix.net/preview-1004604-7RBRX7k1QXWac3KH-large.jpg?w=1400&q=60&fit=max&auto=format");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.registration-form{
	padding: 50px 0;
}

.registration-form section{
    background: black;
    max-width: 40%;
    margin: auto;
    padding: 50px 70px;
    opacity: 0.7;
}

.registration-form .form-icon{
	text-align: center;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    height: 100px;
    margin: auto;
    line-height: 100px;
}
.registration-form .form-text{
	text-align: center;
    border-radius: 50%;
    font-size: 18px;
    color: white;
    height: 100px;
    margin: auto;
    margin-top: -31px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 3px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .registration-form section{
        max-width: 90%;
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
